.usermenu_wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* right not center; */
  justify-content: right;
  align-content: baseline;
  gap: 20px;
  padding: 10px 20px;
  background-color: #f8f9fa;
  /* border-bottom: 2px solid #ddd; */
}
.header_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
h2 {
  margin: 0;
  font-size: 1.6rem;
  color: rgba(0, 123, 255, 0.2);
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

h3 {
  margin: 0;
  font-size: 1.1rem;
  color: rgba(0, 123, 255, 0.8);
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

.link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #007bff;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
  background-color: rgba(0, 123, 255, 0.16);
  color: #0056b3;
}

.active {
  font-weight: bold;
  color: #0056b3;
  border-bottom: 2px solid #0056b3;
}

._button {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  div {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .link {
    font-size: 1rem;
    padding: 6px 10px;
  }
}
